body {
    margin: 0;
    padding: 0;
    background: hsl(210deg 15% 6%);
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100vh;
}

svg {
    display: block;
    outline: 1px solid hsl(210deg 15% 30%);
}